# Ігнорування віртуального середовища
venv/

# Ігнорування файлів конфігурації
*.env

# Ігнорування байт-коду Python
__pycache__/
*.pyc
*.pyo

# Ігнорування файлів баз даних
*.sqlite3
*.db

# Лог-файли
*.log

# Ігнорування ідентифікаційних файлів IDE
.idea/
.vscode/


# Ігноруємо файл settings.py, щоб не викладати конфіденційні дані
settings.py
